# Razorpay Keys (Get from Razorpay Dashboard > Settings > API Keys)
RAZORPAY_KEY_ID=rzp_test_SlzVRwHn9IXI7U
RAZORPAY_KEY_SECRET=r9FySbtF2BFLKI8O58xqW8du

# Server Port
PORT=5000

# Node Environment
NODE_ENV=production
